.ad-form-logo {
    background-image: url('/assets/img/ad-servers-logo/ad-form.png')
}

.amobee-logo {
    background-image: url('/assets/img/ad-servers-logo/amobee.png')
}

.app-nexus-logo {
    background-image: url('/assets/img/ad-servers-logo/app-nexus.png')
}

.brightroll-logo {
    background-image: url('/assets/img/ad-servers-logo/brightroll.png')
}

.conversant-logo {
    background-image: url('/assets/img/ad-servers-logo/conversant.png')
}

.extreme-reach-logo {
    background-image: url('/assets/img/ad-servers-logo/extreme-reach.png')
}

.freewheel-logo {
    background-image: url('/assets/img/ad-servers-logo/freewheel.png')
}

.innovid-logo {
    background-image: url('/assets/img/ad-servers-logo/innovid.png')
}

.jivox-logo {
    background-image: url('/assets/img/ad-servers-logo/jivox.png')
}

.medialets-logo {
    background-image: url('/assets/img/ad-servers-logo/medialets.png')
}

.openx-logo {
    background-image: url('/assets/img/ad-servers-logo/openx.png')
}

.platform161-logo {
    background-image: url('/assets/img/ad-servers-logo/platform161.png')
}

.smart-adserver-logo {
    background-image: url('/assets/img/ad-servers-logo/smart-adserver.png')
}

.the-trade-desk-logo {
    background-image: url('/assets/img/ad-servers-logo/the-trade-desk.png')
}

.true-x-logo {
    background-image: url('/assets/img/ad-servers-logo/true-x.png')
}

.tube-mogul-logo {
    background-image: url('/assets/img/ad-servers-logo/tube-mogul.png')
}

.videology-logo {
    background-image: url('/assets/img/ad-servers-logo/videology.png')
}

.weborama-logo {
    background-image: url('/assets/img/ad-servers-logo/weborama.png')
}

.yandex-logo {
    background-image: url('/assets/img/ad-servers-logo/yandex.png')
}

.zismek-logo {
    background-image: url('/assets/img/ad-servers-logo/zismek.png')
}