.header-content {
  height: 200px;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navigation-content {
  width: 65px;
  position: fixed;
  z-index: 2;
}

.main-content {
  padding-left: 65px;
  position: fixed;
  padding-top: 200px;
}
